body {
  background: #0e53d0 url("http://flujos.org/images/flujos-vivos/0_hojaDeNavegacion/Chango%20en%20playa-900px.png ") no-repeat top center;
  color: #DDD;
}

a, #footer {
  color: #700;
    }
    
.page{
    margin: 0 2em;
    }
#pagebody a {
    font-size: 120%;
    }
    

