body {
  background: #0e53d0 url("/images/flujos-vivos/0_hojaDeNavegacion/chango_en_playa.png") no-repeat top center;
  color: #DDD;
}

a, #footer {
  color: #700;
    }
    
.page{
    margin: 0 2em;
    }
#pagebody a {
    font-size: 120%;
    }
    

